<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
    
      <div class="footer-col">
        <ul>
           <li>GitHub: <a href="https://github.com/7891team003">7891TEAM003</a></li>
           <li>Gamil: <a href="mailto:7891team003@gmail.com">7891team003@gmail.com</a></li>
           
        </ul>
      </div>
      <div class="footer-col">
        <span>一个普通人</span> <br/>
        {% if page.layout == "post" %}
        <script async src="/js/busuanzi.pure.mini.js"></script> 
        <span id="busuanzi_container_site_uv">
          阅读量：<span id="busuanzi_value_site_uv"></span>
        </span>
        {% endif %}
      </div>
    </div>
  </div>
</footer>